/shack_tutor/tutorcite/polls/__pycache__
/shack_tutor/tutorcite/polls/__pycache__
/shack_tutor/tutorcite/polls/__pycache__
shack_tutor/tutorcite/polls/__pycache__/admin.cpython-313.pyc
shack_tutor/tutorcite/polls/__pycache__/models.cpython-313.pyc
shack_tutor/tutorcite/polls/__pycache__/urls.cpython-313.pyc
shack_tutor/tutorcite/polls/__pycache__/views.cpython-313.pyc
shack_tutor/tutorcite/shacktutors/__pycache__/settings.cpython-313.pyc
shack_tutor/tutorcite/shacktutors/__pycache__/urls.cpython-313.pyc
