# Python
polls/__pycache__/
__pycache__/
*.py[cod]
shacktutors/__pycache__/



# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Uploaded media files (optional)
static/polls/homepage/homepage/images/tutor_images
staticfiles/